@font-face {
    font-family: Unbounded;
    src: url(../Unbounded-Medium.woff);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0 0;
    font-family: "Inter", sans-serif;
}
h1 {
    font-family: Unbounded;
    font-size: 30px;
}
h4 {
    font-family: Unbounded;
    font-size: 20px;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(211,161,255);
    background: linear-gradient(90deg, rgba(211,161,255,1) 40%, rgba(201,116,255,1) 100%);
    box-shadow: 0 0 10px 2px #19055f;
    padding: 20px 120px;
    z-index: 100;
}
header div h2 {
    font-family: Unbounded;
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
head nav {
    display: block;
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.background {
    background-image: url(./programowanie.jpg);
    position: relative;
    z-index: 9;
    height: 200px;
    filter: blur(8px)
}
.content {
    top: 130px;
    left: 120px;
    z-index: 10;
    position: absolute;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
}
.content h1 {
    color: #ffffff;
}
.content span {
}
main section div h1 {
    color: #000000; 
}
article {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: rgb(255,255,247);
    background: linear-gradient(90deg, rgba(255,255,247,1) 17%, rgba(254,255,238,1) 100%);
    padding: 20px 120px;
    z-index: 100;
    border: 0.25px solid #000000;
}
article ul {
    display: grid;
    padding: 20px 20px;
}
.kniga {
    transform: rotate(25deg);
    border: 1px solid black;
    fill: white;
}
